server/web-server/src/main/java/com/gpdi/web/webclient/Register.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://202.105.212.146:8080/jboss-net/services/Register"
                  xmlns:impl="http://202.105.212.146:8080/jboss-net/services/Register"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="setCallBackAddrV2Response">

      <wsdl:part name="setCallBackAddrV2Return" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setCallBackAddrV2Request">

      <wsdl:part name="uc" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="pw" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="rand" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="url" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="version" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setCallBackAddrResponse">

      <wsdl:part name="setCallBackAddrReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRandomRequest">

   </wsdl:message>

   <wsdl:message name="getRandomResponse">

      <wsdl:part name="getRandomReturn" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setCallBackAddrRequest">

      <wsdl:part name="uc" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="pw" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="rand" type="xsd:string">

      </wsdl:part>

      <wsdl:part name="url" type="xsd:string">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Register">

      <wsdl:operation name="getRandom">

         <wsdl:input message="impl:getRandomRequest" name="getRandomRequest">

       </wsdl:input>

         <wsdl:output message="impl:getRandomResponse" name="getRandomResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCallBackAddr" parameterOrder="uc pw rand url">

         <wsdl:input message="impl:setCallBackAddrRequest" name="setCallBackAddrRequest">

       </wsdl:input>

         <wsdl:output message="impl:setCallBackAddrResponse" name="setCallBackAddrResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCallBackAddrV2" parameterOrder="uc pw rand url version">

         <wsdl:input message="impl:setCallBackAddrV2Request" name="setCallBackAddrV2Request">

       </wsdl:input>

         <wsdl:output message="impl:setCallBackAddrV2Response" name="setCallBackAddrV2Response">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RegisterSoapBinding" type="impl:Register">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getRandom">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRandomRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://realization.webservice.uc.fin.huawei.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getRandomResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://202.105.212.146:8080/jboss-net/services/Register" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCallBackAddr">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setCallBackAddrRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://realization.webservice.uc.fin.huawei.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setCallBackAddrResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://202.105.212.146:8080/jboss-net/services/Register" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setCallBackAddrV2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setCallBackAddrV2Request">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://realization.webservice.uc.fin.huawei.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setCallBackAddrV2Response">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://202.105.212.146:8080/jboss-net/services/Register" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RegisterService">

      <wsdl:port binding="impl:RegisterSoapBinding" name="Register">

         <wsdlsoap:address location="http://202.105.212.146:8080/jboss-net/services/Register"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
